name: Docker Publish and Deploy AuraHome

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/vcb88/aura-home

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

  deploy:
    needs: build_and_push
    if: contains(github.event.head_commit.message, 'deploy')
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to Server with Traefik
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          script: |
            IMAGE_NAME="${{ env.IMAGE_NAME }}:latest"
            CONTAINER_NAME="aurahome"
            
            echo "--- Deploying AuraHome ---"
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            echo "Pulling latest image..."
            docker pull $IMAGE_NAME
            
            echo "Stopping and removing old container..."
            docker stop $CONTAINER_NAME || true
            docker rm $CONTAINER_NAME || true

            echo "Starting new container..."
            docker run -d \
              --network proxy \
              --name $CONTAINER_NAME \
              --restart always \
              --label "traefik.enable=true" \
              --label "traefik.http.routers.aurahome-insecure.rule=Host(\`aurahome.tech\`) || Host(\`www.aurahome.tech`)" \
              --label "traefik.http.routers.aurahome-insecure.entrypoints=http" \
              --label "traefik.http.routers.aurahome-insecure.middlewares=https-redirect@docker" \
              --label "traefik.http.routers.aurahome.rule=Host(\`aurahome.tech\`) || Host(\`www.aurahome.tech`)" \
              --label "traefik.http.routers.aurahome.entrypoints=https" \
              --label "traefik.http.routers.aurahome.tls.certresolver=letsencrypt" \
              --label "traefik.http.services.aurahome-svc.loadbalancer.server.port=80" \
              $IMAGE_NAME
            
            echo "--- Deployment of AuraHome complete ---"
